.container {
  width: 100%;
  flex: 0.4;
  padding-top: 2em;
  border-right: 1px solid var(--twitter-background);
  border-radius: 20px;
  max-height: 950px;
  overflow-y: scroll;
  margin-left: 20px;
  background-color: rgb(234, 235, 241);
  margin-top: 20px;
  border: solid grey;
}


.pagination {
  margin-left: 10px;
  background-color: var(--twitter-color) !important;
  font-size: 16px !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 20px !important;
  height: 2em !important;
  width: 2em;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.paginationhover:hover {
  filter: brightness(1.2);
  transition: 200ms ease-in-out;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(82, 14, 192); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2100b3; 
}

.mb-2-mr-sm-2{
  padding: 15px;
  height: 30px;
  width: 500px;
}

.items_container{
  padding-bottom: 20px;
  margin-right: -15px;
  margin-left: -20px;
  padding-left: 25px ;
  border-bottom: 1px solid grey;
  box-shadow: 0px 8px 10px rgba(15, 15, 15, 0.19);
}